<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mygdx.game">

    <application
        android:allowBackup="true"
        android:appCategory="game"
        android:icon="@drawable/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:theme="@style/GdxTheme"
        tools:targetApi="o">
        <activity android:name=".Launcher"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>